*,
html {
    margin: 0px;
    padding: 0px;
}

.lihead {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;

}

.lihead:hover {
    background-color: purple;
    transition: .2s ease-in-out;
}

.likelas {
    color: black;
    text-decoration: none;
}

.ulkelas:hover {
    color: gold;

}

.ulkelas {
    color: black;
    text-decoration: none;
}

.ulhead {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.gambar {
    border-radius: 45%;
}

.blokgambar {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.liclass {
    list-style-type: none;
    padding: 3px;
    margin: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

.liclass:hover {
    background-color: purple;
    transition: .1s ease-in-out;
}

.likelas:hover {
    color: gold;

}

.ulclass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
